/* Mobile First */
header{
    /* è necessario o fixed no header para não ter problema com o menuMaisOpcoes */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--background-color-principal);
    z-index: 20;
}

.header-top{
    display: none;
}

.header-bottom{
    width: 100%;
    height: 60px;
    
}

.header-bottom__logo{
    height: 25px;
}

.menu{    
    position: fixed;
    top: 60px;
    left: -70vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 70vw;
    min-width:230px;
    height: 605px;
    background: linear-gradient(to right bottom, #1B1426 0%, rgba(27, 20, 38, 0.7) 0.01%, rgba(27, 20, 38, 0.4) 99.03%);
    backdrop-filter: blur(45px);
    border-radius: 0 0 8px 0;

    opacity: 0;
    transition: all 0.5s ease-in-out;
    
}

.menu-lista{
    width:100%;
}

.lista-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 77px;

    padding: 0 1em;
    
    border-bottom: 2px solid var(--color-principal);
}

.lista-item:last-of-type{
    border: none;
}

.lista-item__link{
    text-decoration: none;
    font-family: var(--font-quinta);
    color: var(--text-color-principal);
    font-size:calc((15/16)*1em);
}

.lista-item__link:hover{
    color: var(--color-principal);
}

.redes-sociais{
    display: flex;
    gap: 30px;
    margin-bottom: 1em;
}

.header-bottom__icon-opcoes{
    position: absolute;
    top: 60px;
    right: -15vw;

    width: 15vw;
    padding: 1em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;

    background-image: linear-gradient(to left bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    opacity: 0;
    transition: right 0.5s, opacity 0.5s ;
}

@media screen and (min-width:834px){
    header{
        position: static;
        width: 100%;
    }

    .header-top{
        display: block;
        height: 49.3px;
    }
    .contato{
        display: flex;
        gap: 54px;
    }

    .contato p{
        font-size: calc((10/16)*1em);;
        color: var(--text-color-principal);
    }

    .contato a{
        text-decoration: none;
    }

    .redes-sociais{
        margin: 0;
    }

    .header-bottom{
        height: 90.7px;
    }

    .header-bottom__menu-hamburguer{
        display: none;
    }

    .header-bottom__logo{
        height: 44px;
    }

    .menu{
        position: static;
        display: initial;
        width: initial;
        min-width: initial;
        height: initial;
        backdrop-filter: initial;
        opacity: initial;
        background: none;
        border-radius: initial;
        transition: initial;
    }

    .menu-lista{
        width: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 46px;
    }

    nav .redes-sociais{
        display: none;
    }

    .lista-item{
        display: initial;
        height: initial;
        padding: initial;
        border: none;
    }

    .lista-item__link{
        font-size: calc((10/16)*1em);
    }

    .menu-lista .flex-gap{
        display: none;
    }

    .header-bottom__menu-opcoes{
        display: none;
    }

    .header-bottom__contato{
        display: none;
    }

    .header-bottom__icon-opcoes{
        position: static;
        width: initial;
        padding: initial;
        transition: none;
        opacity: initial;
        flex-direction: initial;
        background-image: initial;
        backdrop-filter: initial;
    }
}

@media screen and (min-width:1440px){
    .contato p{
        font-size: calc((14/16)*1em);;
    }
    .header-bottom__logo{
        height: 55.21px;
    }
    .lista-item__link{
        font-size: calc((14/16)*1em);
    }
}