.secao-cadastro-jogadores{
    position: relative;
    background-image: url(../assets/images/banner_cadastro_de_equipe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secao-cadastro-jogadores::before {
    position: absolute;
    bottom: 0;
    content: "";
    background: linear-gradient(180deg, #0E0915 3%, rgba(67, 3, 99, 0.1) 16%), linear-gradient(0deg, #0E0915 0, rgba(67, 3, 99, 0) 6%), linear-gradient(0deg, #0E0915 5.51%, rgba(67, 3, 99, 0.03) 13%);
    width: 100%;
    backdrop-filter: blur(4px);
    height: 100%;
}

.borda-cadastro{
    margin-top: 107px;
    width: 100%;
    height: 670px;
    border: 3px solid;
    border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) 1;
    background: linear-gradient(131deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    backdrop-filter: blur(5px);
    -webkit-clip-path: inset(0px round 8px);
    clip-path: inset(0px round 7px);
    border-radius: 0px;
    padding: 0px;
    background-clip: padding-box;
}

.container__titulo{
    box-sizing: content-box;
    display: block;
    width: 100%;
}
.cadastro-jogadores{
    padding: 1em;
    
}

.cadastro-jogadores__titulo{
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    margin-top: 40px;
    font-size: calc((28/16)*1em);
    font-family: var(--font-quarta);
    text-align: center;
}

.container__titulo hr{
    text-align: center;
    width: 220px;
    color: var(--color-principal);
    border-style: solid;
}

.cadastro-jogadorID{
    height: 40px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: var(--text-color-principal);
    padding: 1em;
}



.cadastro-jogadorID::placeholder{
    color: var(--text-color-principal);
}

.cadastro-jogador__selec-time{
    height: 40px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: var(--text-color-principal);
    padding: 1em;
}

.select-items {
    background-color: rgb(69, 0, 116);
}

.input-format-default{
    height: 40px;
    width: 100%;
    border: transparent;
    background: transparent;
    color: var(--text-color-principal);
    padding: 1em;
}



.input-format-default::placeholder{
    color: var(--text-color-principal);
}

.container-input{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 1em;
}

.container-input button{
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-principal);
    font-family: var(--font-terceira);
    font-size: calc((24/16)*1em);
}

/*Tabela*/
.table-cadastro-jogador{
    margin-top: 80px;
    margin-bottom: 171px;
    width: 100%;
    position: relative;

}

.table-cadastro-jogador thead,.table-cadastro-jogador tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-cadastro-jogador thead tr{
    margin-bottom: 30px;
    border-bottom: 3px solid var(--color-principal);
}

.table-cadastro-jogador thead th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #F9AA01;
    font-family: TitilliumWeb-Black;
    font-size: 20px;
    text-transform: uppercase;
}

.table-cadastro-jogador tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-cadastro-jogador tbody tr{
    height: 70px;
    margin-bottom: 20px;
    /* efeito da borda e do fundo glass */
    border: 3px solid;
    border-image: linear-gradient(174deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) 1;
    background: linear-gradient(174deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    backdrop-filter: blur(5px);
    -webkit-clip-path: inset(0px round 8px);
    clip-path: inset(0px round 7px);
    border-radius: 0px;
    padding: 0px;
    background-clip: padding-box;
}

.table-cadastro-jogador td{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #F9AA01;
}

.table-cadastro-jogador td:last-of-type {
    border: none;
}

.table-cadastro-jogador td img.green-play {
    width: 25px;
}

.table-cadastro-jogador td img.yellow-trash {
    width: 15px;
}
