@import url(./css/header.css);
@import url(./css/sectionBannerPrincipal.css);
@import url(./css/sectionDivulgacao.css);
@import url(./css/sectionDestaque.css);
@import url(./css/sectionNoticias.css);
@import url(./css/footer.css);
@import url(./css/sectionLogin.css);

@font-face {
    font-family: "Inter-Regular-400";
    font-weight: 400;
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Quicksand-Regular";
    font-weight: 400;
    src: url(./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "TitiliumWeb-Regular-400";
    src: url(./assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "TitiliumWeb-Bold-700";
    src: url(./assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "TitiliumWeb-Black-900";
    src: url(./assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

:root{
    --font-primeira: "Quicksand-Regular";
    --font-segunda: "TitiliumWeb-Regular-400";
    --font-terceira: "TitiliumWeb-Bold-700";
    --font-quarta: "TitiliumWeb-Black-900";
    --font-quinta: "Inter-Regular-400";
    --text-color-principal: #fff;

    --color-principal: #F9AA01;
    --color-segunda: #000;
    --background-color-principal: #1B1426;
}

body{
    
    color: var(--text-color-principal);
    background-color: var(--background-color-principal);
    
}



.grid-layout{
    max-width: 1440px;
    margin: 0 auto; 
    width: 90%;
    height: 100%;
}

.alinhamento-row-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exibe-menu-nav{
    opacity: 1;
    left: 0;
}
.exibe-menu-opcoes{
    opacity: 1;
    right: 0 ;
}

.flex-gap{
    display: flex;
    align-items: center;
    gap:15px
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-colum-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.height-container{
    height: 300px;
}